.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #313131;
}

.header-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-logo-img {
    padding: 0 27px 0 29px;
}

.header-logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.header-menu {
    width: 722px;
    display: flex;
    justify-content: space-between;
}

.header-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}

.header-menu-link:hover {
    color: #14B9D5;
}

.search {
    height: 17px;
    width: 17px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 27px;
}

.header-photo-bg {
    background-image: url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

.header-content {
    padding: 164px 0 64px 0;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
}

.header-title {
    color: #FFFFFF;
    padding-bottom: 44px;
}

.header-btn {
    border: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header-btn-subscribe {
    background-color: #89CA62;
    padding: 16px 19px 17px 19px;
    border-radius: 5px;
    margin-right: 20px;
}

.header-btn-articles {
    background-color:#14B9D5;
    padding: 16px 29px 17px 30px;
    border-radius: 5px;
}

.section-posts-bg {
    background-color:#F2F2F2;;
}

.section-posts-title {
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
}

.section-posts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    gap: 30px;
    max-height: 900px;
    padding-bottom: 72px; 
}


.section-posts-photo-desc {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background-color: #fff;
    padding: 22px 0;
    text-align: center;
}

.wrap-button{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.hide-show-btn {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    background-color: rgb(109, 211, 83);
    padding: 10px 20px;
}

.section-clients-bg {
    background-image: url('../img/parallax-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

.section-clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 108px;
}

.section-clients-title::after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #18B4CF;
    margin-top: 87px;
}

.section-clients-names {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 107px 0 192px 0;
    justify-content: center;
    align-items: center;
    gap: 58px;
}


.section-rated-bg {
    background-color: #E5E5E5;
}

.section-rated-title {
    color: #18B4CF;
    padding: 49px 0 52px 0;
}

.rated-item {
    width: 100%;
}

.section-rated-photos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.section-hot-news-title {
    color: #18B4CF;
    padding-top: 48px;
}

.section-hot-news {
    padding: 50px 0 70px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 40px;
}
  
.section-hot-news-post1 {
    grid-column: 1/4;
    display: flex;
}
  
.section-hot-news-post3, .section-hot-news-post5 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}
  
.section-hot-news-post4, .section-hot-news-post6 {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
}
  
  
.section-hot-news-post8 {
    grid-column: 2/5;
    display: flex;
}

.post-bg {
    background-color: #F9F7F7;
}
  
.hot-news-post-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    vertical-align: middle;
}

.hot-news-post-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding-bottom: 15px;
}

.small-post-content {
    margin: 41px 24px 40px 0;
}

.big-post-content{
    margin: 12px 14px 3px 3px;
}

.post-title-small-photo {
    text-align: center;
    padding: 14px 0 10px 0;
}

.footer-bg {
    background: #000000;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer-text {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
}

.footer-logo-text {
    margin-left: 3px;
}

.back-to-top-btn {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    background-color: #18B4CF;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
}
