.on-focus {
    outline: none;
    border: 2px solid chartreuse;
}

.invalide-price {
    outline: none;
    border: 2px solid red;
}

.valide-price {
    list-style: none;
    margin: 10px 0;
    max-width: fit-content;
}

.input-text {
    color: chartreuse;
}

.list {
    padding: 0;
}