.image-to-show {
    width: 400px;
    height: 400px;
   margin-bottom: 20px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hide-image {
    display: none;
}


