* {
    margin: 0;
    padding: 0;
}

.light {
    background-color: #FFFFFF;
}

.dark {
    background-color: rgb(44, 43, 43);
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-nav{
    text-align: center; 
} 

.header-nav-li{
    display: inline-block;
    padding: 25px 0;
    text-align: center;
    margin-right: 72px;
}

li.header-nav-li:last-child{
    margin-right: 0;
}

.nav-item {
    text-decoration: none;
    /* color: #FF0000; */
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.light .nav-item {
    color: #FF0000;
}

.dark .nav-item {
    color: #6a21ca;
}

#changeTheme {
    outline: none;
    background-color: rgba(194, 201, 201, 0.363);
    border: 1px solid rgb(58, 58, 58);
    border-radius: 4px;
    padding: 4px;
}

.img-background{
    background-image: url('../img/image.png');
    background-size: cover;
    height: 789px;
}

.main-content {
    padding: 49px 0 42px 0;
    text-align: center;
}

.main-title {
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    /* color: #373737; */
    padding-bottom: 38px;
}


.main-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    /* color: #373737; */
    padding: 0 67px;
}

.second-paragraph {
    text-align: justify;
    padding: 28px 67px 66px 67px;
}

.main-btn {
    border: 0;
    border-radius: 4px;
    padding: 18px 43px 17px 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.light .main-btn {
    background-color: #FF0000;
}

.dark .main-btn {
    background-color: #6a21ca;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    /* color: #373737; */
    text-align: right;
    padding: 40px 105px 29px 0;
}

.light .main-title, .light .main-text, .light .footer {
    color: #373737;
}

.dark .main-title, .dark .main-text, .dark .footer {
    color: antiquewhite;
}